{% extends "participantnonvalidate.html" %}

{% block PageTittle %}
	Ver participantes no evento {{event.eventname}}
{% endblock %}

{% block currentPage %}
    Participantes  no evento {{event.eventname}}
{% endblock %}

{% block tableHead %}
    <th class="orderable {% if filterKey and filterKey == '30' or filterKey and filterKey == '31' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '30' %}'31'{% else %}'30'{% endif %})">
        Nome
        {% if filterKey and filterKey == '30' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '31' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '10' or filterKey and filterKey == '11' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '10' %}'11'{% else %}'10'{% endif %})">
        Registado em
        {% if filterKey and filterKey == '10' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '11' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '40' or filterKey and filterKey == '41' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '40' %}'41'{% else %}'40'{% endif %})">
        Estado
        {% if filterKey and filterKey == '40' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '41' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th>Respostas</th>
    <script>
        function redirectToFilter(filterCode) {
            window.location.href = "{% url 'consultar_participantesnaovalidados' event.id %}/" + filterCode
        }
    </script>
{% endblock %}

{% block listings %}

    {% for registration in registrations %}
  
        
    
        <tr id="row{{ forloop.counter }}">
            <td>
                <span id="NameFilter{{ forloop.counter }}">{{registration.participantuserid}}</span>
            </td>
            <td>
                    {{registration.dateofregistration}}

            </td> 

            <td>
                <span >
                    <span style="display: none;" id="stateFilter{{ forloop.counter }}">
                        {% if registration.state == 0 %}
                            Pendente
                        {% elif registration.state == 1 %}
                            Invalidado
                        {% elif registration.state == 2 %}
                            Validado
                        {% endif %}
                    </span>


                    {% if event.proponentid.id == user.id %} 
                        {% if  registration.state == 0 %}
                            <a class="button is-warning" >Pendente</a> 
                        {% elif  registration.state == 1 %}  
                            <a class="button is-danger" >Invalidado</a> 
                        {% elif  registration.state == 2 %}  
                            <a class="button is-success" >Validado</a>

                        {% endif %}
                    {% endif %}
                </span>
            
            </div>
            </td>
            <td>
            <div >
                
                <a href="{% url 'viewanswer' registration.id %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Ver Respostas">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                </a>
                
            </div>
            </td>
        </tr>
        
    {% endfor %}
   

    
{% endblock %}



