{% extends "participantnonvalidate.html" %}

{% block PageTittle %}
	Ver participantes no evento {{event.eventname}}
{% endblock %}

{% block currentPage %}
    participantes  no evento {{event.eventname}}
{% endblock %}

{% block tableHead %}
    <th>Nome</th>
    <th>Registado em:</th>
    <th>Estado</th>
    <th>Respostas</th>
{% endblock %}

{% block listings %}
    {% for registration in registrations %}
        <tr id="row{{ forloop.counter }}">
            <td>
                <span id="NameFilter{{ forloop.counter }}">{{registration.participantuserid}}</span>
            </td>
            <td>
                    {{registration.dateofregistration}}

            </td> 

            <td>
                <span >
                    <span style="display: none;" id="stateFilter{{ forloop.counter }}">
                        {% if registration.state == 0 %}
                            pendente
                        {% elif registration.state == 1 %}
                            Invalidado
                        {% endif %}
                    </span>


                    {% if event.proponentid.id == user.id %} 
                        {% if  registration.state == 0 %}
                            <button href="{% url 'validateparticipant' registration.id %}"><a class="button is-warning" >Pendente</a></button> 
                        {% elif  registration.state == 1 %}  
                            <button><a class="button is-danger" >Invalidado</a></button> 

                        {% endif %}
                    {% endif %}
                </span>
            
            </div>
            </td>
            <td>
            <div >
                <button><a class="btn btn-lg" href="{% url 'viewanswer' registration.id %}">
                    Ver respostas do user
                </a></button>
            </div>
            </td>
        </tr>
    {% endfor %}
   

    
{% endblock %}



