{% extends "template_participante_listing_base.html" %}

{% block PageTittle %}
	Ver participantes no evento {{event.eventname}}
{% endblock %}

{% block currentPage %}
    Participantes  no evento {{event.eventname}}
{% endblock %}

{% block tableHead %}   
    <th class="orderable {% if filterKey and filterKey == '30' or filterKey and filterKey == '31' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '30' %}'31'{% else %}'30'{% endif %})">
        Nome
        {% if filterKey and filterKey == '30' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '31' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '10' or filterKey and filterKey == '11' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '10' %}'11'{% else %}'10'{% endif %})">
        Registado em
        {% if filterKey and filterKey == '10' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '11' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '20' or filterKey and filterKey == '21' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '20' %}'21'{% else %}'20'{% endif %})">
        Presença
        {% if filterKey and filterKey == '20' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '21' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th>Respostas</th>
    <script>
        function redirectToFilter(filterCode) {
            window.location.href = "{% url 'consultar_participantes' event.id %}/" + filterCode
        }
    </script>
{% endblock %}

{% block listings %}

    {% for registration in registrations %}
        {% if registration.state == 2 %}
        
    
            <tr id="row{{ forloop.counter }}" style="display: none;">
                <td>
            
                
                    <span id="NameFilter{{ forloop.counter }}">{{registration.participantuserid}}</span>
                </td>
                <td>
                    {{registration.dateofregistration}}
                 
                </td> 

                <td>
                    <span >
                        <span style="display: none;" id="presenceFilter{{ forloop.counter }}">
                            {% if registration.waspresent %}
                                Sim
                            {% else %}
                                Não
                            {% endif %}
                        </span>
                        
                        
                        {% if event.proponentid.id == user.id %} 
                            {% if  registration.waspresent == 0 %}
                            
                            <a class="button is-danger"  href="{% url 'checkin' registration.id %}"  >Ausente</a>
                        
                            {% else %}
                            <a class="button is-success" href="{% url 'checkout' registration.id %}">Presente</a>     
                            {% endif %}
                        {% endif %}
                    </span>
                 
                </div>
                </td>
                <td>
                <div >
                    <a href="{% url 'viewanswer' registration.id %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Ver Respostas">
                        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                    </a>
                </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
   

    
{% endblock %}



