EventManager/AssetManagement/__pycache__
EventManager/EventManagement/__pycache__
EventManager/EventManager/__pycache__
EventManager/FormManagement/__pycache__
EventManager/Index/__pycache__
EventManager/Models/__pycache__
EventManager/PreEventManagement/__pycache__
EventManager/Schedules/__pycache__
EventManager/utilizadores/__pycache__
EventManager/utilizadores/templatetags/__pycache__
EventManager/FormManagement/templatetags/__pycache__
EventManager/AssetManagement/templatetags/__pycache__
EventManager/EventManagement/templatetags/__pycache__


EventManager/AssetManagement/migrations/*
!/EventManager/AssetManagement/migrations/__init__.py
EventManager/EventManagement/migrations/*
!/EventManager/EventManagement/migrations/__init__.py
EventManager/FormManagement/migrations/*
!/EventManager/FormManagement/migrations/__init__.py
EventManager/Index/migrations/*
!/EventManager/Index/migrations/__init__.py
EventManager/Models/migrations/*
!/EventManager/Models/migrations/__init__.py
EventManager/PreEventManagement/migrations/*
!/EventManager/PreEventManagement/migrations/__init__.py
EventManager/Schedules/migrations/*
!/EventManager/Schedules/migrations/__init__.py
EventManager/utilizadores/migrations/*
!/EventManager/utilizadores/migrations/__init__.py

