<p> temporary html to show forms</p>
<div>
    <p>Form Type: {{formType}}</p>
    <div>
        {% for question in questions %}
            <p>Question: {{question.question}}</p>
            {% if question.options %}
                <p>question options: 
                    {% for option in question.options %}
                        {{option.option}} |
                    {% endfor %}
                </p>
            {% endif %}

            {% if question.allanswers %}
                <p> question answers:
                    {% for answer in question.allanswers %}
                        {{answer.answer}} |
                    {% endfor %}
                </p>
            {% endif %}

        {% endfor %}
    </div>

</div>
