{% extends "template_form_base.html" %}

{% block NonErrorContent %}
	<div class="columns">
		<div class="column is-3">
			<div class="menu">
				<div class="menu-label">
					Filtros
				</div>
				<ul class="menu-list">
					<div class="field">
						<div class="control has-icons-left">
							<input type="text" class="input" id="NameFilter" placeholder="Nome" onkeyup="filter(this.id, false)">
							<span class="icon is-left">
								<i class="mdi mdi-magnify mdi-24px"></i>
							</span>
						</div>
					</div>

					<div class="field">
						<div class="control has-icons-left">
							<select class="input" id="typeFilter" onchange="filter(this.id, true)">
							  	<option>Selecione o tipo de {% block selectType %}{% endblock %}</option>
							  	{% block filterTypes %}
							
								{% endblock %}
							</select>
							<span class="icon is-left">
								<i class="	fa fa-angle-down mdi-24px"></i>
							</span>
						</div>
					</div>

					<div class="field">
						<div class="control has-icons-left">
							<input type="text" class="input" id="CriatorFilter" placeholder="Nome do criador" onchange="filter(this.id, false)">
							<span class="icon is-left">
								<i class="mdi mdi-magnify mdi-24px"></i>
							</span>
						</div>
					</div>

					<div class="field">
						<div class="control has-icons-left">
							<input type="text" class="input" id="EditorFilter" placeholder="Nome do último editor" onchange="filter(this.id, false)">
							<span class="icon is-left">
								<i class="mdi mdi-magnify mdi-24px"></i>
							</span>
						</div>
					</div>

				</ul>
			</div>
		</div>

		<div class="column">
			<nav aria-label="breadcrumbs" class="breadcrumb">
				<ul>
					<li><a href="{% url 'homepage' %}">Início</a></li>
					<li><a href="{% url 'formsHome' %}">Gestor de formularios</a></li>
					<li class="is-active"><a href="{% url 'utilizadores:consultar-utilizadores' %}">{% block currentPage %}{% endblock %}</a>
					</li>
				</ul>
			</nav>
			<a href="{% block addAction %} {% endblock %}">
				<button type="button" class="button is-success is-outlined" style="margin-bottom: 1rem;"><span
						class="icon is-small"><i class="mdi mdi-plus"></i></span> <span>Adicionar {% block addButton %} {% endblock %}</span>
				</button>
			</a>
			<table class="table">
				<thead>
					<tr>
						{% block tableHead %}
				
						{% endblock %}
					</tr>
				</thead>
				<tbody>
					{% block listings %}
					
					{% endblock %}
				</tbody>

				
			</table>
		</div>
	</div>
		
{% endblock %}

{% block scripts %}
		<script>
        	function filter(filterName, isDropDown)
        	{
        	    var FilterOBJ = document.getElementById(filterName);
        	    var filter;
        	    if (isDropDown) {
        	        filter = FilterOBJ.options[FilterOBJ.selectedIndex].text.toLowerCase();
        	    }
        	    else {
        	        filter = FilterOBJ.value.toLowerCase();
        	    }

        	    var id = 1;
        	    while (document.getElementById("row" + id)){

        	        var fieldVal = document.getElementById(filterName + id).textContent.toLowerCase();
        	        if (isDropDown && filter.indexOf("selecione")>-1) {
        	            filter = "";
        	        }


        	        if ( fieldVal.indexOf(filter)>-1 ) {
        	            document.getElementById("row" + id).style.display = "";
        	        }
        	        else {
        	            document.getElementById("row" + id).style.display = "none";
        	        }
        	        id++;
        	    }

        	}
		</script>
    	
{% endblock %}
