{% extends "template_form_base.html" %}

{% block PageTittle %}
    {% if formCreate %}
        Create Form
    {% else %}
        Edit Form
    {% endif %}
{% endblock %}

{% block NonErrorContent %}
    <!--
    {% load crispy_forms_tags %} 
    <div class="row my-3">
         <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    {% if formCreate %}
                        Create Form
                    {% else %}
                        Edit Form
                    {% endif %}
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        {{formCreation|crispy}}
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-lg btn-block" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    -->

    <div class="columns" style="margin-top: 5%;">
        <div class="column is-3"></div>
        <div class="column is-6">
            <div class="box">
                <header >
                    <p class="card-header-title">
                        {% if formCreate %}
                            Criar Formulário
                        {% else %}
                            Editar Formulário
                        {% endif %}
                    </p>
                </header>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-content">
                        <div class="content">
                            {{formCreation|crispy}}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <button class="button is-success card-footer-item" type="submit">Guardar</button>
                        <button class="button is-white card-footer-item" onclick="goBack()">Cancelar</button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
