{% extends "template_listings_base.html" %}

{% block PageTittle %}
    Form Listings
{% endblock %}

{% block listingTittle %}{{formType.typename}} Forms{% endblock %}

{% block filterOptions %}
    {% for filterOption in filterOptions %}
        <option>{{filterOption}}</option>
    {% endfor %}
{% endblock %}

{% block filterTypes %}
    {% for eventType in eventTypes %}
        <option>{{eventType.typename}}</option>
    {% endfor %}	
{% endblock %}

{% block listings %}
        {% for form in forms %}
            <div class="row my-3" id="row{{ forloop.counter }}">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="card">
                        <div class="card-header">
                            <h2 id="name{{ forloop.counter }}">{{form.formname}} {% if form.archived %}(Archived){% endif %}</h2>
                        </div>
                        <div class="card-body">
                            <b>Form designend for events of type: </b><span id="eventtype{{ forloop.counter }}">{{form.eventtypeid.typename}}</span><br>
                            <b>Created by: </b><span id="creator{{ forloop.counter }}">{{form.createdby.username}}</span><b> on: </b>{{form.dateofcreation}}<br>
                            <b>Last Edited by: </b><span id="lasteditor{{ forloop.counter }}">{{form.lasteditedby.username}}</span><b> on: </b>{{form.dateoflastedit}}
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-lg" href="{% url 'checkFormLayout' form.id %}">
                                See Form Layout
                            </a>
                            {% if form.canEdit %}
                                |
                                <a class="btn btn-lg" href="{% url 'createForm' form.formtypeid_formtype.id form.id %}">
                                    Edit Form
                                </a>
                                |
                                <a class="btn btn-lg" href="{% url 'deleteForm' form.id %}" onclick="return confirm('Are you sure?');">
                                    Delete Form
                                </a>

                            {% elif not form.archived %}    
                                |
                                <a class="btn btn-lg" href="{% url 'deleteForm' form.id %}" onclick="return confirm('Are you sure?');">
                                    Archive Form
                                </a>
                            {% else %}
                                |
                                <a class="btn btn-lg" href="{% url 'deleteForm' form.id %}" onclick="return confirm('Are you sure?');">
                                    Unarchive Form
                                </a>
                            {% endif %}
                            {% if form.canDuplicate %}
                                |
                                <a class="btn btn-lg" href="{% url 'duplicateForm' form.id %}" onclick="return confirm('This action will archive the current proposal form for events of type {{form.eventtypeid.typename}}. Are you sure you want to continue?');">
                                    Duplicate Form
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
{% endblock %}
