{% extends "template_show_form_layout_base.html" %}

{% block selectType %}Questão{% endblock %}

{% block filterTypes %}
    {% for questionType in questionTypes %}
        <option>{{questionType.typename}}</option>
    {% endfor %}	
{% endblock %}

{% block tableHead %}
    <th >Questão</th>
    <th >Tipo</th>
    <th >Opções</th>
    <th >Requerida</th>
    <th >Criador</th>
    <th >Criado em</th>
    <th >Editado por</th>
    <th >Editado em</th>
    <th >Ações</th>
{% endblock %}

{% block listings %}
        {% for question in questions %}
            <tr id="row{{ forloop.counter }}">
                <td id="NameFilter{{ forloop.counter }}" data-label="Questão">{{question.question}}</td>
                <td id="TypeFilter{{ forloop.counter }}" data-label="Tipo">{{question.questiontypeid_questiontype.typename}}</td>
                <td id="OptionsFilter{{ forloop.counter }}" data-label="Opções">
                    
                    <div {% if question.canEdit or question.options %} onmouseover="toggle('optionDropdown{{ forloop.counter }}')" onmouseout="toggle('optionDropdown{{ forloop.counter }}')" {% endif %}>
                        <span class="icon is-small" >
                            {% if question.canEdit or question.options %}
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            {% endif %}
                            {% if question.options %} Ver{% else %} N/a{% endif %}
                        </span>
                        <div class="box" style="position: absolute; display: none;" id="optionDropdown{{ forloop.counter }}">
                            {% for option in question.options %}
                                <div class="icon-text" >
                                    <span>{{option.option}}</span>
                                    {% if question.canEdit %}
                                        <a href="{% url 'createOption' question.id option.id %}" class="icon has-text-info" style="vertical-align: middle;" data-tooltip="Editar Opção">
                                            <i class="mdi mdi-circle-edit-outline" aria-hidden="true"></i>
                                        </a>
                                        <a href="{% url 'deleteOption' question.id option.id %}" class="icon has-text-info" style="vertical-align: middle;" data-tooltip="Remover Opção">
                                          <i class="fas fa-times" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            {% if question.canEdit %}
                                <a class="button is-white" href="{% url 'createOption' question.id %}">Adicionar Nova</a>
                            {% endif %}
                        </div>
                    </div>
                    

                </td>
                <td id="RequiredFilter{{ forloop.counter }}" data-label="Requerida">{% if question.required %}Sim{% else %}Não{% endif %}</td>
                <td id="CriatorFilter{{ forloop.counter }}" data-label="Criador">{{question.createdby.username}}</td>
                <td id="CriationDateFilter{{ forloop.counter }}" data-label="Criado em">{{question.dateofcreation}}</td>
                <td id="EditorFilter{{ forloop.counter }}" data-label="Editado por">{{question.lasteditedby.username}}</td>
                <td id="EditDateFilter{{ forloop.counter }}" data-label="Editado em">{{question.dateoflastedit}}</td>
                
                <td id="ActionsFilter{{ forloop.counter }}" data-label="Ações">
                    {% if question.canEdit %}
                        <a href="{% url 'createQuestion' question.id 0 %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Editar Questão">
                            <i class="mdi mdi-circle-edit-outline mdi-24px" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <a class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Editar Questão" disabled>
                            <i class="mdi mdi-circle-edit-outline mdi-24px" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                       
					{% if form.canEdit %}
						<a href="{% url 'deassociateQuestion' question.id form.id %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Desassociar Questão" >
                       	    <i class="fas fa-times fa-lg" aria-hidden="true"></i>
                       	</a>
					{% else %}
						<a class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Desassociar Questão" disabled>
							<i class="fas fa-times fa-lg" aria-hidden="true"></i>
						</a>
					{% endif %}
					
                </td>
            </tr>
        {% endfor %}
{% endblock %}
