{% extends "template_form_base.html" %}

{% block PageTittle %}
    Form Manager
{% endblock %}

{% block NonErrorContent %}
    <div class="columns" >
        <div class="column is-4" >
            <div class="box">
                <header >
                    <p class="card-header-title">Questões</p>
                </header>
                <footer class="card-footer">
                    <a href="{% url 'listQuestions' %}" class="card-footer-item">Ver questões existentes</a>
                    <a href="{% url 'createQuestion' 0 0 %}" class="card-footer-item">Criar Nova</a>
                </footer>
        
            </div>
        </div>
    </div>

    <hr>

    <div class="columns" >
        {% for formType in formTypes %}
            {% if forloop.counter == 4 %}
                </div>
                <div class="columns" >
            {% endif %}
            <div class="column is-4" >
                <div class="box">
                    <header >
                        <p class="card-header-title">Formulário de {{formType.typename}}</p>
                    </header>
                    <footer class="card-footer">
                        <a href="{% url 'listFormsFromType' formType.id %}" class="card-footer-item">Ver formulários existentes</a>
                        <a href="{% url 'createForm' formType.id %}" class="card-footer-item">Criar Novo</a>
                    </footer>
                
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}