{% extends "template_form_base.html" %}

{% block PageTittle %}
    Form Manager
{% endblock %}

{% block NonErrorContent %}
    <div class="columns">
        <div class="column is-12" >
            <nav aria-label="breadcrumbs" class="breadcrumb">
                <ul>
                    <li><a href="{% url 'homepage' %}">Início</a></li>
                    <li class="is-active"><a href="{% url 'formsHome' %}">Gestor de formularios</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <hr>

    <div class="columns" >
        {% load form_extras %}
        {% for formType in formTypes %}
            {% if forloop.counter == 5 %}
                </div>
                <div class="columns" >
            {% endif %}
            <div class="column is-3" >
                <div class="box">
                    <header >
                        <p class="card-header-title">Formulário de {{formType.typename}}</p>
                    </header>
                    <br>
                    <br>
                    <footer class="card-footer">
                        <a href="{% url 'listFormsFromType' formType.id %}" class="card-footer-item">Ver formulários existentes</a>
                        {% if formType|can_create_form_fromType:user %}
                            <a href="{% url 'createForm' formType.id %}" class="card-footer-item">Criar Novo</a>
                        {% endif %}
                    </footer>
                
                </div>
            </div>
        {% endfor %}
    </div>

    <hr>
    <div class="columns" >
        <div class="column is-3" >
            <div class="box">
                <header >
                    <p class="card-header-title">Questões</p>
                </header>
                <footer class="card-footer">
                    <a href="{% url 'listQuestions' %}" class="card-footer-item">Ver questões existentes</a>
                    <a href="{% url 'createQuestion' 0 0 %}" class="card-footer-item">Criar Nova</a>
                </footer>
        
            </div>
        </div>
    </div>
{% endblock %}