{% extends "template_listings_base.html" %}

{% block PageTittle %}
    Form Listings
{% endblock %}

{% block selectType %}Evento{% endblock %}

{% block listingTittle %}{{formType.typename}} Forms{% endblock %}

{% block filterTypes %}
    {% for eventType in eventTypes %}
        <option>{{eventType.typename}}</option>
    {% endfor %}	
{% endblock %}

{% block currentPage %}{{formType}} Forms{% endblock %}

{% block addAction %}
    {% url 'createForm' formType.id %}
{% endblock %}

{% block addButton %}
    Formulário de {{formType.typename}}
{% endblock %}

{% block tableHead %}
    <th>Nome</th>
    <th>Tipo</th>
    <th>Tipo de Evento</th>
    <th>Arquivado</th>
    <th>Criador</th>
    <th>Criado em</th>
    <th>Editado por</th>
    <th>Editado em</th>
    <th>Ações</th>
{% endblock %}

{% block listings %}
        {% for form in forms %}
            <tr id="row{{ forloop.counter }}">
                <td id="NameFilter{{ forloop.counter }}">{{form.formname}}</td>
                <td>{{form.formtypeid_formtype}}</td>
                <td id="typeFilter{{ forloop.counter }}">{{form.eventtypeid.typename}}</td>
                <td id="ArchivedFilter{{ forloop.counter }}">{% if form.archived %}Sim{% else %}Não{% endif %}</td>
                <td id="CriatorFilter{{ forloop.counter }}">{{form.createdby.username}}</td>
                <td id="CriationDateFilter{{ forloop.counter }}">{{form.dateofcreation}}</td>
                <td id="EditorFilter{{ forloop.counter }}">{{form.lasteditedby.username}}</td>
                <td id="EditDateFilter{{ forloop.counter }}">{{form.dateoflastedit}}</td>
            </tr>
        {% endfor %}
{% endblock %}
