{% extends "template_listings_base.html" %}

{% block PageTittle %}
    Form Listings
{% endblock %}

{% block selectType %}Evento{% endblock %}

{% block listingTittle %}{{formType.typename}} Forms{% endblock %}

{% block filterTypes %}
    {% for eventType in eventTypes %}
        <option>{{eventType.typename}}</option>
    {% endfor %}	
{% endblock %}

{% block currentPage %}Formulários de {{formType}}{% endblock %}

{% block preListingBlock %}
    {% load form_extras %}
    {% if formType|can_create_form_fromType:user %}
    <a href="{% url 'createForm' formType.id %}">
        <button type="button" class="button is-success is-outlined" style="margin-bottom: 1rem;"><span
                class="icon is-small"><i class="mdi mdi-plus"></i></span> <span>Adicionar Formulário de {{formType.typename}}</span>
        </button>
    </a>
    {% endif %}
{% endblock %}

{% block tableHead %}
    <th class="orderable {% if filterKey and filterKey == '00' or filterKey and filterKey == '01' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '00' %}'01'{% else %}'00'{% endif %})">
        Nome
        {% if filterKey and filterKey == '00' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '01' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '10' or filterKey and filterKey == '11' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '10' %}'11'{% else %}'10'{% endif %})">
        Tipo
        {% if filterKey and filterKey == '10' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '11' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '20' or filterKey and filterKey == '21' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '20' %}'21'{% else %}'20'{% endif %})">
        Tipo de Evento
        {% if filterKey and filterKey == '20' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '21' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '30' or filterKey and filterKey == '31' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '30' %}'31'{% else %}'30'{% endif %})">
        Publico
        {% if filterKey and filterKey == '30' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '31' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '40' or filterKey and filterKey == '41' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '40' %}'41'{% else %}'40'{% endif %})">
        Arquivado
        {% if filterKey and filterKey == '40' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '41' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '50' or filterKey and filterKey == '51' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '50' %}'51'{% else %}'50'{% endif %})">
        Criador
        {% if filterKey and filterKey == '50' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '51' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '60' or filterKey and filterKey == '61' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '60' %}'61'{% else %}'60'{% endif %})">
        Criado em
        {% if filterKey and filterKey == '60' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '61' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '70' or filterKey and filterKey == '71' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '70' %}'71'{% else %}'70'{% endif %})">
        Editado por
        {% if filterKey and filterKey == '70' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '71' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '80' or filterKey and filterKey == '81' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '80' %}'81'{% else %}'80'{% endif %})">
        Editado em
        {% if filterKey and filterKey == '80' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '81' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th width="250">Ações</th>

    <script>
        function redirectToFilter(filterCode) {

            window.location.href = "{% url 'listFormsFromType' formType.id %}" + filterCode;
        }
    </script>
{% endblock %}

{% block listings %}
    {% load form_extras %}
    {% for form in forms %}
        {% if form|can_display_form:user %}
            <tr id="row{{ forloop.counter }}">
                <td id="NameFilter{{ forloop.counter }}" data-label="Nome">{{form.formname}}</td>
                <td data-label="Tipo">{{form.formtypeid_formtype}}</td>
                <td id="TypeFilter{{ forloop.counter }}" data-label="Tipo de evento">{{form.eventtypeid.typename}}</td>
                <td id="PublishedFilter{{ forloop.counter }}" data-label="Publico">{% if form.published %}Sim{% else %}Não{% endif %}</td>
                <td id="ArchivedFilter{{ forloop.counter }}" data-label="Arquivado">{% if form.archived %}Sim{% else %}Não{% endif %}</td>
                <td id="CriatorFilter{{ forloop.counter }}" data-label="Criador">{{form.createdby.username}}</td>
                <td id="CriationDateFilter{{ forloop.counter }}" data-label="Criado em">{{form.dateofcreation}}</td>
                <td id="EditorFilter{{ forloop.counter }}" data-label="Editado por">{{form.lasteditedby.username}}</td>
                <td id="EditDateFilter{{ forloop.counter }}" data-label="Editado em">{{form.dateoflastedit}}</td>
                <td data-label="Ações">
                    <a href="{% url 'checkFormLayout' form.id %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Ver Formulário">
                        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                    </a>
                    
                    {% if form.canEdit %}
                        <a href="{% url 'createForm' form.formtypeid_formtype.id form.id %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Editar Formulário">
                            <i class="mdi mdi-circle-edit-outline mdi-24px" aria-hidden="true"></i>
                        </a>
                        <a href="{% url 'deleteForm' form.id %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Eliminar Formulário" onclick="return confirm('Tem a certeza que deseja apagar este formulário?');">
                            <i class="fas fa-times fa-lg" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <a class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Editar Formulário" disabled>
                            <i class="mdi mdi-circle-edit-outline mdi-24px" aria-hidden="true"></i>
                        </a>
                        <a class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Eliminar Formulário" disabled>
                            <i class="fas fa-times fa-lg" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    
                    {% if not form.archived %}
                        {% if form|can_archive_form:user %}
                            <a href="{% url 'archiveForm' form.id %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Arquivar Formulário" onclick="return confirm('Após arquivar o formulário não sera possivél associar este a novos eventos nem a sua edição. Deseja continuar?');">
                                <i class="fas fa-archive fa-lg" aria-hidden="true"></i>
                            </a>
                        {% else %}
                            <a class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Arquivar Formulário" disabled>
                                <i class="fas fa-archive fa-lg" aria-hidden="true"></i>
                            </a>
                        {% endif %}

                        
                        {% if form.published %}
                            <a class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Publicar" disabled>
                                <i class="fas fa-eye fa-lg" aria-hidden="true"></i>
                            </a>
                        {% elif form|can_publish_form:user %}
                            <a href="{% url 'publishForm' form.id %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Publicar">
                                <i class="fas fa-eye fa-lg" aria-hidden="true"></i>
                            </a>
                        {% else %}
                            <a class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Publicar" disabled>
                                <i class="fas fa-eye fa-lg" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                        
                    {% else %}
                        {% if form|can_unarchive_form:user %}
                            <a href="{% url 'unarchiveForm' form.id %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Desarquivar Formulário" onclick="return confirm('Após arquivar o formulário não sera possivél associar este a novos eventos nem a sua edição. Deseja continuar?');">
                                <i class="fas fa-archive fa-lg" style="color: red;" aria-hidden="true"></i>
                            </a>
                        {% else %}
                            <a class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Desarquivar Formulário" disabled>
                                <i class="fas fa-archive fa-lg" style="color: red;" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                        <a class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Publicar" disabled>
                            <i class="fas fa-eye fa-lg" aria-hidden="true"></i>
                        </a>
                    {% endif %}

                    {% if form.canDuplicate %}
                        <a href="{% url 'duplicateForm' form.id %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Duplicar Formulário" onclick="return confirm('Esta ação irá arquivar o atual formulário de proposta para eventos do tipo {{form.eventtypeid.typename}}. Tem a certeza que quer continuar?');">
                            <i class="far fa-clone" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <a class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Duplicar Questão" disabled>
                            <i class="far fa-clone" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block showType %}
    formulários
{% endblock %}