{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- ============================================================= HEAD =======================================================================-->
<head>

    <title>
        {% block PageTittle %}

        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta  http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    
    <link href="{% static 'img/favicon.ico' %}" rel="icon" />
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive-tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated-arrows.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" />


    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<!--------------------------------------- BODY ------------------------------------>
<body class="body">  
    
    {% include 'navbar.html' %}
    {% include 'welcome_screen.html' %}

    
<div class="container">
    {% if user.is_authenticated %}
        {% block loggedInContent %}
    
        {% endblock %}

    {% else %}
        {% block loggedOutContent %}

        {% endblock %}
    {% endif %}
</div>





</body>

<!---------------------------------------- FOOTER ----------------------------------->
<footer class="footer">
    <div style="margin: auto; width: max-content">
      &#169; 2021 Event Manager 
    </div>
</footer>

{% block scripts %}
<script type="text/javascript" src="{% static 'js/fontawesome.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/animated-arrows.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js_custom.js' %}"></script>
{% endblock %}
</html>
