{% load static %}
{% load poll_extras %}

 <nav id="main-navbar" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="{% url 'homepage' %}" class="navbar-item logo">
            <img src="{% static 'img/logonavbar.png' %}" alt="Event Manager" />
        </a>
        <a role="button" class="navbar-burger burger" onclick="onclick_burger(event)" data-target="navbarBasicExample">
            <span aria-hidden="true"></span> 
            <span aria-hidden="true"></span> 
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="{% url 'assetHome' %}" class="navbar-item is-tab router-link">Gestor de Recursos</a>
            <a href="" class="navbar-item is-tab router-link">Event</a>
            {% if user.is_authenticated and not user|has_group:'Participante'%}
            <a href="{% url 'formsHome' %}" class="navbar-item is-tab router-link">Gestor de formularios</a>
            {% endif %}
            <a href="{% url 'preEventHome' %}" class="navbar-item is-tab router-link">PreEvent</a>
            {% if user|has_group:'Administrador'%}
              <a href="{% url 'utilizadores:consultar-utilizadores' %}" class="navbar-item is-tab router-link">
                Utilizadores
              </a>
            {% endif %}
        </div>
        
        
        <div class="navbar-end">
            <div  class="navbar-item">

                {% if user.is_authenticated %}
                <div class="dropdown is-bottom-left is-mobile-modal">
                    
                    <div onclick="notificacoes()">
                        <div id="notificacoes_trigger" role="button" class="dropdown-trigger">
                          <span role="button">
                            <div type="button" data-badge="0" class="button has-badge-rounded has-badge-warning is-text"style="margin-right: 0.9rem">
                              <span>
                                <span class="icon">
                                  <span id="badge-inject" style="display:none;" title="Badge top right"class="badge is-warning"></span>
                           
                                  <i class=" mdi mdi-bell mdi-24px"></i>
                                </span>
                              </span>
                            </div>
                          </span>
                        </div>
                    </div>
                    </script>
                    <div onclick="definicoes()">
                        <div id="dropdown_definicoes" class="dropdown is-right">
                          <div role="button" class="dropdown-trigger">
                            <span role="button">
                              <div type="button" data-badge="0" class="button has-badge-rounded has-badge-warning is-text" style="margin-right: 0.9rem">
                                <span>
                                  <span class="icon">
                                    <i class="mdi mdi-account-circle mdi-24px"></i>
                                  </span>
                                </span>
                              </div>
                            </span>
                          </div>
                          <div class="background" aria-hidden="true"></div>
                          <div class="dropdown-menu" aria-hidden="true">
                            <div role="menu" class="dropdown-content">
                                <div role="menuitem" tabindex="0" class="dropdown-item">
                                    <a href="{% url 'utilizadores:alterar-utilizador' %}" role="listitem" tabindex="0" class="dropdown-item is-disabled">
                                        <span class="icon">
                                            <i class="mdi mdi-account-edit mdi-24px"></i>
                                        </span>
                                        <strong>Alterar dados de conta</strong>
                                    </a>
                                    <a href="{% url 'utilizadores:alterar-password' %}" role="listitem" tabindex="0" class="dropdown-item is-disabled">
                                        <span class="icon">
                                            <i class="mdi mdi-key-variant mdi-24px"></i>
                                        </span>
                                        <strong>Alterar palavra-passe</strong>        
                                    </a>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div> 


                {% endif %}
                
                {% if user.is_authenticated %}
                <a href="/utilizadores/logout">

                  <div type="button" class="button">
                    <span class="icon is-small">
                      <i class="mdi mdi-login-variant"></i>
                    </span>
                    <span>Sair</span>
                  </div>
                </a>
                {% else %}
      
      
                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      <a href="/utilizadores/escolherperfil">

                        <bottom class="button is-primary">
                          <strong>Registar</strong>
                      </a>
                    </div>
                  </div>
                </div>
      
      
                <a href="/utilizadores/login">
                  <div type="button" class="button">
                    <span class="icon is-small">
                      <i class="mdi mdi-login-variant"></i>
                    </span>
                    <span>Entrar</span>
                  </div>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    
</nav>
<!-- END NAVBAR NOVA -->

{% block scripts %}
<script>
  function detalhes_url_notificacoes(item) {
    var tmp = String(item.id)
    //falta a % se quiseres descomentar
    //return "{ url 'notificacoes:categorias-notificacao-automatica' 0 12345 %}".replace("12345", tmp);
  }
</script>
<script type="text/javascript" src="{% static 'js/notificacoes.js' %}"></script>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<!--
  coisa do django falta a %
  { register_notify callbacks='fill_notification_badge,lista_notificacoes,my_special_notification_callback' %}
-->

<script>
  $('#dropdown_definicoes').click(function (e) {
    $('#mensagens-dropdown').removeClass('is-active');
  })

  $('#mensagens-dropdown').click(function (e) {
    $('#dropdown_definicoes').removeClass('is-active');
  })

  $('#notificacoes_trigger').click(function (e) {
    $('#dropdown_definicoes').removeClass('is-active');
    $('#mensagens-dropdown').removeClass('is-active');
  })

  function onclick_burger(e) {
    $('#main-navbar > .navbar-menu').toggleClass('is-active');
    $('#dropdown_definicoes').toggleClass('is-right');
    $('#dropdown_definicoes').toggleClass('is-left');
    $('#mensagens-dropdown').toggleClass('is-right');
    $('#mensagens-dropdown').toggleClass('is-left');
  };
</script>

{% endblock scripts %}