{% extends "template_assets_listings_base.html" %}

{%block detalhes %}
<div class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Notificações</p>
                <button onclick="notificacoes()" class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                    tass fixe
              </section>
            </div>
</div>

{% endblock%}