{% extends 'template_base.html' %}


{% block loggedInContent %}
  <p><a href="ViewAssets">Consultar Recursos</a></p>
  <p><a href="ViewRooms">Consultar Salas</a></p>
  <p><a href="ViewServices">Consultar Serviços</a></p>
  <p><a href="ViewEquipments">Consultar Equipamentos</a></p>
  <p><a href="InsertService">Inserir Serviço</a></p>  
  <p><a href="InsertEquipment">Inserir Equipamento</a></p>  
  <p><a href="InsertRoom">Inserir Sala/Anfiteatro</a></p>  
  
{% endblock %}
{% block loggedOutContent %}
{% endblock %}
{% block deleteMessage %}
{% endblock %}