{% extends 'template_base.html' %}


{% block loggedInContent %}

 <div class="columns">
        <div class="column is-12" >
            <nav aria-label="breadcrumbs" class="breadcrumb">
                <ul>
                    <li><a href="{% url 'homepage' %}">Início</a></li>
                    <li class="is-active"><a href="{% url 'assetHome' %}">Gestor de Recursos</a></li>
                </ul>
            </nav>
        </div>
 </div>



<hr>


<div class="columns" >
    <div class="column is-3">
        <div class="box">
            <header >
                <p class="card-header-title">Recursos </p>
            </header>
            <br>
            <br>
            <footer class="card-footer">
                <a href="{% url 'ViewAssets' 0 %}" class="card-footer-item">Consultar</a>
            </footer>    
        </div>
    </div>
    <div class="column is-3">
        <div class="box">
            <header >
                <p class="card-header-title">Espaços </p>
            </header>
            <br>
            <br>
            <footer class="card-footer">
                <a href="{% url 'ViewRooms' 0 %}" class="card-footer-item">Consultar</a>
                <a href="{% url 'InsertRoom'  %}" class="card-footer-item">Adicionar</a>
                <a href="{% url 'pre_EditRoom' 1 %}" class="card-footer-item">Editar</a>
                
            </footer>    
        </div>
    </div>

    <div class="column is-3">
        <div class="box">
            <header >
                <p class="card-header-title">Serviços </p>
            </header>
            <br>
            <br>
            <footer class="card-footer">
                <a href="{% url 'ViewServices' 0 %}" class="card-footer-item">Consultar</a>
                <a href="{% url 'InsertService'  %}" class="card-footer-item">Adicionar</a>
                <a href="{% url 'pre_EditService' 1 %}" class="card-footer-item">Editar</a>
                
            </footer>    
        </div>
    </div>

    <div class="column is-3">
        <div class="box">
            <header >
                <p class="card-header-title">Equipamentos</p>
            </header>
            <br>
            <br>
            <footer class="card-footer">
                <a href="{% url 'ViewEquiments' 0 %}" class="card-footer-item">Consultar</a>
                <a href="{% url 'InsertEquipment'  %}" class="card-footer-item">Adicionar</a>
                <a href="{% url 'pre_EditEquipment' 1 %}" class="card-footer-item">Editar</a>
                
            </footer>    
        </div>
    </div>
</div>
  
  
  
  
<hr>
<div class="columns" >
     <div class="column is-3"> 
        <div class="box">
            <header >
                <p class="card-header-title">Associar Recursos a Eventos</p>
            </header>
            <br>
            <br>
            <footer class="card-footer">
                <a href="{% url 'PreAssociateAsset' %}" class="card-footer-item">Consultar</a>
            </footer>    
        </div>
    </div>
</div>
{% endblock %}
{% block loggedOutContent %}
{% endblock %}
{% block deleteMessage %}
{% endblock %}