{% extends 'template_base.html' %}


{% block loggedInContent %}
  <div style="margin: auto; width: 30%">
	        <a href="ViewAssets">
	            <button type="button" class="button is-success is-large is-fullwidth is-outlined" style="margin-bottom: 1rem;">
	            	<span class="icon is-small">
	            		<i class="mdi mdi-plus"></i>
	            	</span>
	            	<span>
	            		Consultar Recursos
	            	</span>
	            </button>
	        </a>

	        <a href="ViewRooms">
	            <button type="button" class="button is-info is-large is-fullwidth is-outlined" style="margin-bottom: 1rem;"> 
	            	<span>
	            		Consultar Salas
	            	</span>
	            </button>
	        </a>
          <a href="ViewServices">
	            <button type="button" class="button is-info is-large is-fullwidth is-outlined" style="margin-bottom: 1rem;"> 
	            	<span>
	            	  Consultar Serviços
	            	</span>
	            </button>
	        </a>
           <a href="ViewEquipments">
	            <button type="button" class="button is-info is-large is-fullwidth is-outlined" style="margin-bottom: 1rem;"> 
	            	<span>
	            		Consultar Equipamentos
	            	</span>
	            </button>
	        </a>
          <a href="ViewEquipments">
	            <button type="button" class="button is-info is-large is-fullwidth is-outlined" style="margin-bottom: 1rem;"> 
	            	<span>
	            		Consultar Equipamentos
	            	</span>
	            </button>
	        </a>
        </div> 
  <p><a href="ViewAssets">Consultar Recursos</a></p>
  <p><a href="ViewRooms">Consultar Salas</a></p>
  <p><a href="ViewServices">Consultar Serviços</a></p>
  <p><a href="ViewEquipments">Consultar Equipamentos</a></p>
  <p><a href="InsertService">Inserir Serviço</a></p>  
  <p><a href="InsertEquipment">Inserir Equipamento</a></p>  
  <p><a href="InsertRoom">Inserir Sala/Anfiteatro</a></p>  
  
{% endblock %}
{% block loggedOutContent %}
{% endblock %}
{% block deleteMessage %}
{% endblock %}