{% extends 'template_asset_base.html' %}
{% load crispy_forms_tags %} 
{% block NonErrorContent %}

<div class="columns">
    <div class="column is-12" >
        <nav aria-label="breadcrumbs" class="breadcrumb">
            <ul>
                <li><a href="{% url 'homepage' %}">Início</a></li>
                <li><a href="{% url 'assetHome' %}">Gestor de Recursos</a></li>
                <li class="is-active"><a href="{% url 'InsertEquipment' %}">Adicionar Equipamento</a></li>
            </ul>
        </nav>
    </div>
</div>

<hr> 

<div class="columns" style="margin-top: 5%;">
        <div class="column is-3"></div>
        <div class="column is-6">
            <div class="box">
                <header >
                    <p class="card-header-title">
                        {% if editEquipmentForm%}
                            Editar Equipamento
                        {% else %}    
                            Adicionar Equipamento
                        {%endif%}
                    </p>
                </header>  
                <form method="post">
                  {% csrf_token %}
                  <div class="card-content">
                    <div class="content">
                        {% if editEquipmentForm %}
                           {{ editEquipmentForm|crispy }}
                        {% else %}    
                           {{ EquipmentForm|crispy }}
                        {%endif%}
                     
                    </div>
                  </div>
                  <footer class="card-footer">
                    <button class="button is-success card-footer-item" type="submit">Adicionar Equipamento</button>
                    <a href="{% url 'assetHome'  %}" class="button is-white card-footer-item">Cancelar</a>
                  </footer>
                </form>
            </div>
        </div>
  </div>



{% endblock %}

