{% extends 'template_base.html' %}


{% block loggedInContent %}
 <div class="columns" style="margin-top: 5%;">
        <div class="column is-3">
        </div>
        <div class="column is-6">
            <div class="box">
                <header >
                    <p class="card-header-title">
                        {% if Asset_EventForm_EventID%}
                            Associar Recurso
                        {% else %}    
                            Associar Recurso
                        {%endif%}
                    </p>
                </header>  
                <form method="post">
                  {% load crispy_forms_tags %} 
                  {% csrf_token %}
                  <div class="card-content">
                    <div class="content">
                        {% if Asset_EventForm_EventID %}
                           {{ Asset_EventForm_EventID|crispy }}
                        {% else %}    
                           {{ Asset_EventForm|crispy }}
                        {%endif%}
                     
                    </div>
                  </div>
                  <footer class="card-footer">
                    <button class="button is-success card-footer-item" type="submit">Associar Recurso</button>
                    <a href="{% url 'assetHome'  %}" class="button is-white card-footer-item">Cancelar</a>
                  </footer>
                </form>
            </div>
          </div>
  </div>



{% endblock %}

{% block loggedOutContent %}
{% endblock %}