{% extends "template_base.html" %}
{% block loggedInContent %}

<h2>Pretende eliminar os recursos selecionados?</h2>
<table style="width:100%">
    <tr>
      <th>ID</th>  
      <th>Nome do Recurso</th>
      <th>Quantidade</th>
      <th>Tipo</th>
      <th>Sub-Tipo</th>
    </tr>
    <tr>
      <td>  <p>{{asset.id}}</p></td>
      <td>  <p>{{asset.assetname}}</p></td>
      <td>  <p>{{asset.quantity}}</p></td>
      <td>  <p>{{asset_type}}</p></td>
      <td>  <p>{{asset_subtype}}</p></td>
    </tr>      
</table>
<button type="button" class="button" style="vertical-align:bottom"><span><a href="{% url 'DeleteAssets' asset.id  %}" >Eliminar</a></span></button>
    
  

{% endblock %}