{% extends "template_base.html" %}
{% block loggedInContent %}
  <table style="width:100%">
    <tr>
      <th>Nome do Recurso</th>
      <th>Quantidade</th>
      <th>Tipo</th>
      <th>Sub-Tipo</th>
    </tr>
    {% for asset in Assets %}
        <tr>
            <td>  <p>{{asset.assetname}}</p></td>
            <td>  <p>{{asset.quantity}}</p></td>
            <td>  <p>{{asset.type}}</p></td>
            <td>  <p>{{asset.subtype}}</p></td>
        </tr>
    {% endfor %}
  </table>
{% endblock %}