{% extends "template_associate_listings_base.html" %}


{% block PageTittle %}
  Associar Recursos
{% endblock %}



{% block tableHead %}
    <th class="orderable {% if filterKey and filterKey == '00' or filterKey and filterKey == '01' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '00' %}'01'{% else %}'00'{% endif %})">
        Nome do Evento
        {% if filterKey and filterKey == '00' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '01' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '10' or filterKey and filterKey == '11' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '10' %}'11'{% else %}'10'{% endif %})">
        Data do Evento
        {% if filterKey and filterKey == '00' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '01' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
   <th class="orderable {% if filterKey and filterKey == '20' or filterKey and filterKey == '21' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '20' %}'21'{% else %}'20'{% endif %})">
        Estado dos Recursos
        {% if filterKey and filterKey == '20' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '21' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th width="250">Ações</th>
       
{% endblock %}
  

{% block listings %}
  {% load asset_extras %}
    {% for asset in Assets %}
      <tr id="row{{ forloop.counter }}">
          <td id="NameFilter{{ forloop.counter }}">  <p>{{event.eventname}}</p></td>
         
          <td>
            {% comment %} VER Agendamento {% endcomment %}
            <a href="" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Ver Agendamento">
                <i class="fa fa-search fa-lg" aria-hidden="true"></i>
            </a>
            {% comment %} EDITAR {% endcomment %}
            <a href="{% url 'EditAsset' asset.id %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Editar Formulário">
                <i class="mdi mdi-circle-edit-outline mdi-24px" aria-hidden="true"></i>
            </a>
            {% comment %} Eliminar {% endcomment %}
            <a href="{% url 'DeleteAssets' asset.id %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Eliminar recurso" onclick="return confirm('Tem a certeza que deseja apagar este recurso?');">
		  	    <i class="fas fa-times fa-lg" style="color: red;" aria-hidden="true"></i>
		    </a>
          </td>
      </tr>
    {% endfor %}
{% endblock  %}



