{% extends "template_base.html" %}
{% block loggedInContent %}
{% block tableHead %}
    
{% endblock %}
  <table style="width:100%" >
    <tr>
      <th>ID</th>
      <th>Nome do Recurso</th>
      <th>Quantidade</th>
    
    </tr>
    {% for asset in Assets %}
        <tr>
            <td>  <p>{{asset.assetid_asset.id}}</p></td>
            <td>  <p>{{asset.assetid_asset.assetname}}</p></td>
            <td>  <p>{{asset.assetid_asset.quantity}}</p></td>
    
        </tr>
    {% endfor %}
  </table>
{% endblock %}