{% extends "template_base.html" %}
{% block loggedInContent %}
  <table style="width:100%">
    <tr>
      <th>Nome do Equipamento</th>
      <th>Tipo de Equipamento</th>
       {%if isEdit is 1 %}
          <th>Editar</th>
      {%endif%}
    </tr>
    {% for equipment in Equipments %}
        <tr>
            <td>  <p>{{equipment.assetid}}</p></td>
            <td>  <p>{{equipment.equipmenttypeid_equipmenttype}}</p></td>
            {%if isEdit is 1 %}
                <td><p><a href="{% url 'EditEquipment' equipment.assetid.id %}">Editar</a></p></td>
            {%endif%}
        </tr>
    {% endfor %}
  </table>
{% endblock %}
