{% extends "template_assets_listings_base.html" %}


{% block PageTittle %}
  Asset Listings
{% endblock %}

{% block filterTypes %}
  {% for assetType in assetTypes %}
      <option >{{assetType}}</option>
  {% endfor %}
{% endblock %}

{% comment %} {% block SubtypeEquipment %}
  {% for equipmentType in equipmentTypes %}
      <option >{{equipmentType}}</option>
      
  {% endfor %}
{% endblock %}  {% endcomment %}
 
{% comment %} {% block SubtypeRoom %}
  {% for roomType in roomTypes %}
      <option >{{roomType}}</option>
      
  {% endfor %}
{% endblock SubtypeRoom %}  {% endcomment %}

{% comment %} {% block SubtypeService %}
  {% for serviceType in serviceTypes %}
      <option >{{getServiceType}}</option>
      
  {% endfor %}
{% endblock %}   {% endcomment %}



{% block tableHead %}
    <th class="orderable {% if filterKey and filterKey == '00' or filterKey and filterKey == '01' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '00' %}'01'{% else %}'00'{% endif %})">
        Nome
        {% if filterKey and filterKey == '00' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '01' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '20' or filterKey and filterKey == '21' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '20' %}'21'{% else %}'20'{% endif %})">
        Tipo
        {% if filterKey and filterKey == '20' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '21' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '30' or filterKey and filterKey == '31' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '30' %}'31'{% else %}'30'{% endif %})">
        Sub-Tipo
        {% if filterKey and filterKey == '30' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '31' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th class="orderable {% if filterKey and filterKey == '40' or filterKey and filterKey == '41' %}is-sorting{% endif %}" onclick="redirectToFilter({% if filterKey and filterKey == '40' %}'41'{% else %}'40'{% endif %})">
        Quantidade
        {% if filterKey and filterKey == '40' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-down"></i>
            </span>
        {% elif filterKey and filterKey == '41' %}
            <span class="icon is-small">
                <i class="mdi mdi-menu-up"></i>
            </span>
        {% endif %}
    </th>
    <th width="250">Ações</th>
       
{% endblock %}
  

{% block listings %}
  {% load asset_extras %}
    {% for asset in Assets %}
      <tr id="row{{ forloop.counter }}">
          <td id="NameFilter{{ forloop.counter }}">  <p>{{asset.assetname}}</p></td>
          <td id="TypeFilter{{ forloop.counter}}">  <p>{{asset.assettype}}</p></td>
          <td id="SubtypeFilter{{ forloop.counter }} ">  <p>{{asset.subtype}}</p></td>
          <td id="QuantityFilter{{ forloop.counter }}">  <p>{{asset.quantity}}</p></td>
          <td>
            {% comment %} VER Agendamento {% endcomment %}
            <a href="" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Ver Agendamento">
                <i class="fa fa-search fa-lg" aria-hidden="true"></i>
            </a>
            {% comment %} EDITAR {% endcomment %}
            <a href="{% url 'EditAsset' asset.id %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Editar Formulário">
                <i class="mdi mdi-circle-edit-outline mdi-24px" aria-hidden="true"></i>
            </a>
            {% comment %} Eliminar {% endcomment %}
            <a href="{% url 'DeleteAssets' asset.id %}" class="icon has-text-info button is-white" style="vertical-align: middle;" data-tooltip="Eliminar recurso" onclick="return confirm('Tem a certeza que deseja apagar este recurso?');">
		  	    <i class="fas fa-times fa-lg" style="color: red;" aria-hidden="true"></i>
		    </a>
          </td>
      </tr>
    {% endfor %}
{% endblock  %}



