{% extends 'template_base.html' %}


{% block loggedInContent %}


<script type="text/javascript">
	function eventtype_change(){
		console.log(this.value);
		let button_active = true;
		for(subform of document.getElementsByClassName("subforms")){
			//console.log(subform.id.substring(7) + " vs " + this.value + " ==> " + (subform.id.substring(7) == this.value))
			let shows = (
				(
					subform.id.startsWith("logisticsform") 
					&& 
					subform.id.substring(13+1) == this.value
				)
				||
				(
					subform.id.startsWith("proposalform") 
					&& 
					subform.id.substring(12+1) == this.value
				)
			);

			subform.style.display = shows?"block":"none";
			if(shows && subform.classList.contains("nonexistent"))button_active = false;

		}
		document.getElementById("submitbutton").disabled = !button_active;
	}

	function prepare_form(){
		for(subform of document.getElementsByClassName("subforms")){
			if(subform.style.display == "none")subform.remove();
		}
		return true;
	}
</script>

<form class="box" action="" method="POST">{% csrf_token %}
	
	<div class="field">
		<label class="label" for="{{form.0.name}}">Nome do Evento: </label>
		<div class="control">
			<input class="input" type="text" name="{{form.0.name}}" placeholder="Exemplo: Palestra de Informática" {% if form.0.value is not None %}value="{{form.0.value}}"{% endif %} style="margin: auto; width: 30%" required><br>			
		</div>
	</div>

	<div class="field">

		<label class="label" for="{{form.1.name}}">Campus:</label>
		  <div class="dropdown-trigger">
			<select name="{{form.1.name}}" class="select" aria-haspopup="true" aria-controls="dropdown-menu3" {% if form.1.value is not None %}value="{{form.1.value}}"{% endif %} style="margin: auto; width: 30%" required>

				{% for choice in form.1.choices %}
					<option class="dropdown-item" value="{{choice.0}}" {% if form.1.value is not None and form.1.value == choice.0 %}selected{% endif %}>{{choice.1}}</option>
				{% endfor %}
			</select><br>
		  </div>
	</div>


	<label class="label" for="{{form.2.name}}">Tipo de Evento:</label>
	<select class="select" onchange="eventtype_change.call(this)" name="{{form.2.name}}" style="margin: auto; width: 30%" {% if form.2.value is not None %}value="{{form.2.value}}"{% endif %} required>
		<!--helo-->
		{% for choice in form.2.choices %}
			<option class="dropdown-item" value="{{choice.0}}" {% if form.2.value is not None and form.2.value == choice.0 %}selected{% endif %}>{{choice.1}}</option>
		{% endfor %}
	</select>
	<br>

	<hr>
		Formulário de Proposta<br><br>
		{% for eventtype, subform in form.3.array.items %}
			<div class="subforms" id="{{subform.name}}" style="display: 
			
				{% if form.2.value is not None %}
					{% if eventtype == form.2.value %}
						block
					{% else %}
						none
					{% endif %}
				{% else %}
					{% if eventtype == form.2.choices.0.0 %}
						block
					{% else %}
						none
					{% endif %}
				{% endif %};

			">
				<!--<input type="hidden" name="form_id" value="{{form.id}}">-->
				{% for id, question in subform.questions.items %}
					<label class="label">{{question.identifier}}</label>

					{% if question.type == 'open' %}

						<input class="input" type="text" name="{{question.name}}" style="margin: auto; width: 30%" {% if question.value is not None %}value="{{question.value}}"{% endif %} {% if question.required %}required{% endif %}>
						{% if question.required %}*{% endif %}

					{% elif question.type == 'dropdown' %}

						<select class="select" name="{{question.name}}" {% if question.value is not None %}value="{{question.value}}"{% endif %} {% if question.required %}required{% endif %}>
							{% for choice in question.choices %}
								<option value="{{choice.0}}" {% if choice.0|slugify == question.value|slugify %}selected{% endif %}>{{choice.1}}</option>
							{% endfor %}
						</select>
						{% if question.required %}*{% endif %}
						
					{% endif %}
					<br>
				{% endfor %}
			</div>
		{% endfor %}

		{% for event_type in eventtypes %}
			{% if event_type.id not in form.3.array %}
				<div class="subforms nonexistent" id="proposalform_{{event_type.id}}" style="display: {% if form.2.value is not None %}{% if event_type.id == form.2.value %}block{% else %}none{% endif %}{% else %}{% if event_type.id == form.2.choices.0.0 %}block{% else %}none{% endif %}{% endif %};">
					Este tipo de Evento não tem um formulário de Proposta!
				</div>
			{% endif %}
		{% endfor %}
	
	<br>
	<input id="submitbutton" class="button is-success is-outlined" type="submit" value="Submeter" onclick="return prepare_form();" {% if not enabled_by_default %}disabled{% endif %}>
</form>
  
{% endblock %}
{% block loggedOutContent %}
{% endblock %}