{% extends 'template_base.html' %}


{% block loggedInContent %}

{% block scripts %}
	<script type="text/javascript">
		function changethis(){
			
			let parent = this.parentElement;					 //get the surrounding div
			let copi = parent.cloneNode(true);					 //clone it

			parent.appendChild(document.createElement("br"));	 //add a <br> to the end so it doesn't look ugly
			parent.after(copi);									 //and append it afterwards
			parent.getElementsByClassName("delete-button")[0].style.display = "";
			
			let field = parent.parentElement;
			let count_input = field.getElementsByClassName("dropdown-counter")[0];
			let curr_count = parseInt(count_input.getAttribute("value"));
			count_input.setAttribute("value", curr_count+1);

			let underlying_name_len = parseInt(this.getAttribute("underlying-name-len"));
			let underlying_name = this.getAttribute("name").substr(0, underlying_name_len);
			this.setAttribute("name", underlying_name+"_"+curr_count);

			this.getElementsByClassName("empty-option")[0].remove();//remove the empty option from the select
			this.removeAttribute("onchange");					 	//remove the onchange handler from the select



		}
		function deletethis(){
			let select = this.previousSibling;
			let parent = this.parentElement;
			let field = parent.parentElement;

			let count_input = field.getElementsByClassName("dropdown-counter")[0];
			count_input.setAttribute("value", parseInt(count_input.getAttribute("value"))-1);
			console.log("puts");

			var nextup = parent.nextElementSibling;
			
			let i = 0;
			while(nextup){
				console.log("nextup:");
				console.log(nextup);


				let select = nextup.getElementsByClassName("select")[0];
				console.log("select:");
				console.log(select);

				console.log("first1");
				let underlying_name_len = parseInt(select.getAttribute("underlying-name-len"));
				console.log("first2");
				let underlying_name = select.getAttribute("name").substr(0, underlying_name_len);
				console.log("first3");
				let after_underlying_name = select.getAttribute("name").substr(underlying_name_len+1);
				console.log("first4");

				if(after_underlying_name == "NONE")
					break;

				let current_value = parseInt(after_underlying_name);
				select.setAttribute("name", underlying_name+"_"+(current_value-1));

				nextup = nextup.nextElementSibling;

				if(++i == 20)break;
			}

			parent.remove();
		}
	</script>
{% endblock %}


<form class="box" action="" method="POST">{% csrf_token %}

	{% for input in inputs %}
		{% if input.type == "dropdown" %}
			<div class="field">
				<label class="label" for="{{input.name}}">{{input.identifier}}:</label>
				  {% if input.choices|length == 0 %}
				  	<i>{{input.nochoice}}</i>
				  {% else %}
					  <div class="dropdown-trigger">
						<select name="{{input.name}}" class="select" aria-haspopup="true" aria-controls="dropdown-menu3" {% if input.value is not None %}value="{{input.value}}"{% endif %} style="margin: auto; width: 30%" {% if not input.optional %}required{% endif %}>
							{% if input.optional %}
								<option value="">&#60;escolher&#62;</option>
							{% endif %}
							{% for choice in input.choices %}
								<option class="dropdown-item" value="{{choice.0}}" {% if input.value is not None and input.value == choice.0 %}selected{% endif %}>{{choice.1}}</option>
							{% endfor %}
						</select><br>
					  </div>
				  {% endif %}
			</div>
		{% elif input.type == "multidropdown" %}
			<div class="field">
				<label class="label" for="{{input.name}}">{{input.identifier}}:</label>
				{% if input.choices|length == 0 %}
				  	<i>{{input.nochoice}}</i>
				{% else %}
					{% if input.value is not none%}
					{% for asset in input.value %}
						<div class="dropdown-trigger">
							<select underlying-name-len="{{input.name|length}}" name="{{input.name}}_{{forloop.counter0}}" class="select" aria-haspopup="true" aria-controls="dropdown-menu3" value="{{asset.id}}" style="margin: auto; width: 30%" onchange="changethis.call(this)">
								{% for choice in input.choices %}
									<option class="dropdown-item" value="{{choice.0}}" {% if asset.id == choice.0 %}selected{% endif %}>{{choice.1}}</option>
								{% endfor %}
							</select><button class="delete-button" onclick="deletethis.call(this)">x</button><br><br>
						</div>
					{% endfor %}
					{% endif %}
					<div class="dropdown-trigger">
						<select underlying-name-len="{{input.name|length}}" name="{{input.name}}_NONE" class="select" aria-haspopup="true" aria-controls="dropdown-menu3" style="margin: auto; width: 30%" onchange="changethis.call(this)">
							<option class="empty-option dropdown-item" value="">&#60;escolher&#62;</option>
							{% for choice in input.choices %}
								<option class="dropdown-item" value="{{choice.0}}">{{choice.1}}</option>
							{% endfor %}
						</select><button class="delete-button" onclick="deletethis.call(this)" style="display: none;">x</button><br>
				  </div>
				  <input class="dropdown-counter" type="hidden" name="{{input.name}}_count" value="{% if input.value is not None %}{{input.value|length}}{% else %}0{% endif %}">
				  {% endif %}
				  <br>
			</div>
		{% elif input.type == "hrline" %}
			{% if input.topbreak %}<br><hr>{% else %}<hr style="margin-top: 10px;">{% endif %}<i style="font-size: 130%;">{{input.identifier}}</i><hr>
		{% endif %}
	{% endfor %}

	<br>
	<input id="submitbutton" class="button is-success is-outlined" type="submit" value="Submeter" onclick="return prepare_form();" {% if form.1.choices|length == 0%}disabled{% endif %}>
</form>
  
{% endblock %}
{% block loggedOutContent %}
{% endblock %}